html,
body {
    height: 100%;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/*****************Custom styles*****************/
.table thead.table-service-thead {
   /* background-color: #99bb99;*/
    background-color: #9caf78;
 /*   background-color: #a0a6ad;*/
}

.table thead.table-service-edit-thead {
     background-color: #ffa300;
   /* background-color: #dd2121; */
    /*   background-color: #a0a6ad;*/
}

table.table-edit-services tbody {
    /* background-color: #F5F5F5;
    background-color: #f9f9f9;*/
    background-color: #fcfcfc;
    border-color:#d62020 ;
}
table.table-edit-services{
   /* box-shadow: 0 0 9px #FF9000;*/
    box-shadow: 0 0 9px #a0a6ad;
}

.table thead tr th.empty-th {
    background-color: white;
}
th.collapse-th-td {
    background-color: #36e261;
}

.margin_bottom{
    margin-bottom: 30px;
}
.margin_top{
    margin-top: 30px;
}

.badge-danger{
    background-color: #d9534f;
}
.badge-warning {
    background-color: #f0ad4e;
}
.badge-danger-custom{
    background-color: #ff0098;
}
.badge-danger-custom-2{
    background-color: #fc8607;
}
.service-hidden{
    display: none;
}

#serviceDeleteForm{
    margin-top: -15px;
}

#table-result {
    background-color:#f7fcf8 ;
    box-shadow: 0 0 9px #cae2c7;
}
.saved-services-block{
    background-color: #f6ffe5;
    box-shadow: 0 0 9px #cae2c7;
    margin-left: -3px;
    margin-right: -3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.table-no-border > tbody > tr > td , .table-bordered > tbody > tr.table-no-border > td {
    border-color: transparent;
}
.bill_number{
    text-align: center;
}
.bill_date{
    text-align: center;
    font-style: oblique;
}
.bill-view-header-no{
    border: 2px dashed red;
    background-color: #fff7f7;

}
.bill-view-header-no p{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    color: red;
}

.control-label{
 /*   margin-top: 30px;*/
    margin-bottom: 10px;
}

.table >tbody > tr.table-padding-custom > td{
    padding-top: 0;
    padding-bottom: 0;
}
.table >tbody > tr.table-padding-custom > td >p{
    margin-bottom: 0;
}
.table >tbody > tr.table-padding-custom-bottom > td{
    padding-top: 0;
    padding-bottom: 8px;
}
.table >tbody > tr.table-padding-custom-bottom-2 > td{
    padding-bottom: 0;
}
.column-first-custom{
    display: inline-block;
    width: 15%;
}
.column-first-custom-2{
    display: inline-block;
    width: 30%;
}
.column-second-custom{
    display: inline-block;
}

.margin_top2{
    margin-top: 5px;
}

.btn_color1{
    background-color: #FFCC66;

}
.btn_color2{
    background-color: #9999CC;
}
.btn_color3{
    background-color: #9CCC65;
}
.btn_color4{
    background-color: #80CBC4;
}
.btn_color5{
    background-color: #EF9A9A;
}

.player_text{
    display: block;
    color: black;
    font-size: 0.6em;
    margin-bottom: -5px;
}

.margin-badge{
    margin: 15px;
}
.badge-pill{
    padding: 10px;
    font-size: 1.3em;


}
.badge-inactive{
opacity: 0.2;
}
.badge-active{
    background-color:black;
}
.badge-active-font{
    color: #aa0303;
}
.logo-preview {
   text-align: center;
}
div.logo-preview img{
    max-width: 40%;
}
.logo-load-border{

}
.img-position-list{
    width: 30%;
    margin-left: 30%;
}
.background1{
    background-color: #f4fff5;
}
.logo_position{
    text-align: center;
}
.logo_position img{
    width: 50%;
}

table tbody tr td.left-padding-non{
    padding-left: 0;
}
.table-bill thead tr th, .table-bill tbody tr td.text-center{
    text-align: center;
}
.table-bill tbody tr td.text-right{
    text-align: right;
}
.font-size1{
    font-size: 1.2em;
    font-weight: bold;
}